@media screen and (max-width: 600px) {
    div#headImage {
        margin-left:auto;
        margin-right:auto
    }
}
@media screen and (max-width: 600px) {
    div.someText {
        margin-left:auto;
        margin-right:auto
    }
}
body {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}