@media screen and (max-width: 600px) {
    div#headImage {
    }
}
@media screen and (max-width: 600px) {
    div.someText {
    }
}
div.someText, div#headImage {
        margin-left:auto;
        margin-right:auto;
    width:450px;
    }

body {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}